<app-header></app-header>

<main class="home">

    <div id="carouselExampleAutoplaying" class="carousel slide home__carousel" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="../../../assets/laptop.webp" class="d-block w-100" alt="carousel image">
            </div>
            <div class="carousel-item">
            <img src="../../../assets/laptop.webp" class="d-block w-100" alt="carousel image">
            </div>
            <div class="carousel-item">
            <img src="../../../assets/laptop.webp" class="d-block w-100" alt="carousel image">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

    <section class="home__category">

        <h3 class="home__title">
            shop by category
        </h3>

        <div class="home__container">
            <mat-icon class="nav-btn">keyboard_arrow_left</mat-icon>

            <div>
                <app-category-card
                    *ngFor="let category of categories"
                    [category]="category"
                >
                </app-category-card>
            </div>

            <mat-icon class="nav-btn">keyboard_arrow_right</mat-icon>
        </div>

    </section>

    <section class="home__products">

        <h3 class="home__title">
            recommended to you
        </h3>

        <div class="home__container">
            <mat-icon class="nav-btn">keyboard_arrow_left</mat-icon>

            <div>
                <app-product-card
                    *ngFor="let product of products"
                >
                </app-product-card>
            </div>

            <mat-icon class="nav-btn">keyboard_arrow_right</mat-icon>
        </div>

    </section>

    <section class="home__reviews">

        <app-review-card
            *ngFor="let review of [1,2,3,4]"
        >
        </app-review-card>

    </section>

</main>