.home {
}

.home__carousel {
    margin: 1rem 0 2rem;
}

.carousel__img {
    height: 250px;
    background-color: teal;
    margin-block-end: 0.5rem;
}
@media screen and (min-width: 576px) {
    .carousel__img {
        height: 300px;
    }
}

.carousel__btns {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
}

.carousel__btns mat-icon {
    font-size: 0.75rem;
    cursor: pointer;
    color: #696969;
}

.carousel__btns mat-icon:hover {
    color: #000;
}

.home__container, .home__container {
    display: flex;
    align-items: center;
    gap: 0.215rem;
    margin-block-end: 1rem;
}

.home__container > div, .home__container > div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}
@media screen and (min-width: 576px) {
    .home__container > div, .home__container > div {
        grid-template-columns: repeat(6, 1fr);
    }
}

.home__title {
    font-weight: 600;
    font-size: 0.95rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #454545;
    padding-inline: 1rem;
}

.nav-btn {
    font-size: 2rem;
    cursor: pointer;
    transform: translateX(-0.25rem);
}

/* 
    review section
*/

.home__reviews {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}
@media screen and (min-width: 576px) {
    .home__reviews {
        padding: 2rem 4rem;
        grid-template-columns: repeat(4, 1fr);
    }
}