

<div class="container">
    <div class="row">
        <h1>update your information</h1>
    </div>
    <div  class="row align-items-center">
        <div class="col-2 ">
            <div class="row">
                <div id="image-div"  ></div>
            </div>
            <div class="row align-items-center">
                <div class="example-flex-container">
                    <button mat-flat-button color="primary" aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>add_photo_alternate</mat-icon>ADD IMAGE
                    </button>
                </div>
            </div>    
        </div>
        <div class="col-6">
            <form class="example-form">
                <div class="row">
                    <div class="col gx-3">
                        <mat-form-field class="example-full-width">
                            <mat-label>First name</mat-label>
                            <input matInput placeholder="Ex. bob" >
                          </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Last name</mat-label>
                            <input matInput placeholder="Ex. the builder" >
                        </mat-form-field>
                    </div>                      
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <mat-label>Phone number</mat-label>
                        <input matInput placeholder="Ex. 9857***09" >
                    </mat-form-field>
                </div>
                    <div class="row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput 
                                   placeholder="Ex. pat@example.com">
                            <mat-hint>Errors appear instantly!</mat-hint>
                            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                              Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                              Email is <strong>required</strong>
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Address</mat-label>
                            <textarea matInput placeholder="Ex.  Home Decor, Shop no. 6, Maruti Darshan CHS Opp IIT Main Gate, Adishankaracharya Marg, 400076, Powai, Mumbai, Maharashtra 400076"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="example-flex-container">
                                <button mat-flat-button color="accent" aria-label="Example icon button with a vertical three dot icon">
                                  <mat-icon>save</mat-icon>SAVE
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="example-flex-container">
                                <button mat-flat-button color="warn" aria-label="Example icon button with a vertical three dot icon">
                                  <mat-icon>cancel</mat-icon>CANCEL
                                </button>
                            </div>
                        </div>                        
                    </div>
            </form>
        </div>
        
    </div>

</div>

