<!-- <div id="container" class="container">
    <mat-card>
        <mat-card-content>Simple card</mat-card-content>
    </mat-card>      
    <div  class="row align-items-center">
        <div class="col-3">
            <div class="row">
                <div id="image-div"  >
                    <img  id="person-image" src="" alt=""/>
                </div>
            </div>
            <div class="row align-middle">
                <div class="example-flex-container">
                    <button mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>add_photo_alternate</mat-icon>
                    </button>
                </div>
            </div>    
        </div>
        <div class="col">
            <form class="example-form">
                <div class="row">
                    <div class="col gx-3">
                        <mat-form-field class="example-full-width">
                            <mat-label>First name</mat-label>
                            <input matInput placeholder="Ex. bob" >
                          </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Last name</mat-label>
                            <input matInput placeholder="Ex. the builder" >
                        </mat-form-field>
                    </div>                      
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <mat-label>Phone number</mat-label>
                        <input matInput placeholder="Ex. 9857***09" >
                    </mat-form-field>
                </div>
                    <div class="row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput 
                                   placeholder="Ex. pat@example.com">
                            <mat-hint>Errors appear instantly!</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Address</mat-label>
                            <textarea matInput placeholder="Ex.  Home Decor, Shop no. 6, Maruti Darshan CHS Opp IIT Main Gate, Adishankaracharya Marg, 400076, Powai, Mumbai, Maharashtra 400076"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="example-flex-container">
                                <button mat-icon-button color="accent" aria-label="Example icon button with a vertical three dot icon">
                                  <mat-icon>save</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="example-flex-container">
                                <button mat-icon-button color="warn" aria-label="Example icon button with a vertical three dot icon">
                                  <mat-icon>cancel</mat-icon>
                                </button>
                            </div>
                        </div>                        
                    </div>
            </form>
        </div>
    </div>
</div>
 -->
<mat-tab-group>
 <mat-tab label="Update details">
        <div id="card-container">
            <mat-card id="card-1" >
                <div id="card-1-images">
                    <p id="image-card-para"><br><br>Trade your treasures and unlock new<br><br> possibilities with<br><br>
                         our barter-enabled platform<br><br> 
                         for buying and selling <br><br>
                         second-hand goods<br><br>
                    </p>
                </div>  
            </mat-card>
            <mat-card [class.mat-elevation-z8]="true" class="example-card">
                <mat-card-content id="image-card-content">
                    <img mat-card-image id="profile-image" src="https://cdn.vectorstock.com/i/1000x1000/48/06/image-preview-icon-picture-placeholder-vector-31284806.webp" alt="Photo of a Shiba Inu">
                    <mat-form-field class="example-full-width-1">
                        <input  type="file" matInput  >
                    </mat-form-field>
                </mat-card-content>
                <mat-card-content  id="content-card">
                    <mat-card-content id="user-name" >
                        <mat-form-field appearance="outline">
                          <mat-label>First name</mat-label>
                          <input matInput placeholder="first name">
                        </mat-form-field>  
                        <mat-form-field appearance="outline">
                            <mat-label>Last name</mat-label>
                            <input matInput placeholder="last name">
                          </mat-form-field>  
                    </mat-card-content> 
                    <mat-form-field appearance="outline">
                        <mat-label>phone number</mat-label>
                        <input matInput placeholder="contact number">
                      </mat-form-field>  
                      <mat-form-field appearance="outline">
                        <mat-label>E-Mail id</mat-label>
                        <input matInput placeholder="Your Email id">                    
                      </mat-form-field>  
                    <mat-form-field class="example-full-width">
                        <mat-label>Address</mat-label>
                        <textarea matInput placeholder="Ex.  Home Decor, Shop no. 6, Maruti Darshan CHS Opp IIT Main Gate, Adishankaracharya Marg, 400076, Powai, Mumbai, Maharashtra 400076"></textarea>
                    </mat-form-field>
                    <mat-card-actions id="card-buttons">
                        <button mat-button>save</button>
                    </mat-card-actions>
                </mat-card-content>  
            </mat-card>
        </div>
  </mat-tab>
</mat-tab-group>

 