#card-container{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    column-gap: 2vh;
    row-gap: 2vh;
}
.example-card {
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    column-gap: 2vh;
}
#profile-image{
    height: 100px ;
    width: 100px;
    border-radius: 50%;
}
#content-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#user-name{
    display: flex;
    column-gap: 5vh;
    flex-wrap: wrap;
}
#card-buttons{
    display: flex;
    flex-wrap: wrap;
}
#image-card-content{
    padding: 1%;
    display: flex;
    flex-direction: column;
}
#card-1{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(15deg, rgba(134,88,225,1) 0%, rgba(88,46,172,1) 100%);
}
#image-card-para{
    font-size: x-large;
    text-align: center;
    font-weight: normal;
    /* font-family: 'Pacifico', cursive; */
    color:rgb(90, 39, 230);
    text-shadow: 25px 9px 9px rgba(0,0,0,0.39);
    background: -webkit-linear-gradient(10deg, #c9c0c0 0%, #ceb6f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
/* #card-1-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
} */
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
}



@media screen and (max-width: 576px) {
    #image-card-content{
        padding: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
