<div class="review-card">

    <div class="review-card__header">
        <img
            src="../../../assets/user-icon.png" 
            alt="user image"
        />

        <div>
            <p>{{review.name}}</p>
            <p>{{review.location}}</p>
        </div>
    </div>

    <div class="review-card__rating">
        <mat-icon  class="icon-star" *ngFor="let i of [1,2,3,4,5]">star</mat-icon>
    </div>

    <div>
        <h3 class="review-card__title">Highly Recommended!</h3>
        <p class="review-card__text">
            {{review.description}}
        </p>
    </div>

</div>