<app-header></app-header>

<div class="container">   

    <div class="container__header" >     

        <div class="header__img">
            <img  src="../../../../../assets/SwapSelll(2).svg">
        </div>

        <div class="header__info" >            
            <h2 class="info__fullname">John Doe <mat-icon routerLink="/userDetails">open_in_new</mat-icon></h2> 
            <h3>JohnDoe@gmail.com</h3>    
        </div>   

        <div class="header__options">
            <button  matTooltip="update your details"  routerLink="/editDetails">
                <mat-icon >edit</mat-icon>
            </button>
            <button  matTooltip="Your messages" >
                <mat-icon > message</mat-icon>
            </button>
            <button  matTooltip="Notifications" >
                <mat-icon   >notifications</mat-icon>
            </button>
            <button class="post" routerLink="../postAnAdd">
                post an ad 
            </button>
        </div>        
                                                                                              
    </div>
 
    <section class="user__ads">

        <h1 class="ads__title">Your live adds</h1>

        <div class="ads__ads">

            <app-product-card
                *ngFor="let product of products"
                [product]="product"
            >
            </app-product-card>

        </div>

    </section>

</div>