<header>
    <div class="header-div">
        <div class="user-icon-umage">
            <div class="example-button-container">
                <button mat-icon-button  aria-label="Example icon button with a filter list icon">
                    <mat-icon>person</mat-icon>
                </button>
            </div>
            <h3>User name</h3>
        </div>    
        <div class="user-options">
            <div class="example-button-container">
                <button mat-icon-button  aria-label="Example icon button with a filter list icon">
                    <mat-icon routerLink="/editDetails" >edit</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-icon-button  aria-label="Example icon button with a filter list icon">
                    <mat-icon> message</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-icon-button  aria-label="Example icon button with a filter list icon">
                    <mat-icon>notifications</mat-icon>
                </button>
            </div>
        </div>
    </div>
</header>
<div class="live-adds">
    <h1>Your live ads</h1>
    <mat-card class="example-card">
        <img mat-card-image class="card-image"  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>4,50,000</mat-card-title>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </mat-card-content>
        <div class="place-day">
            <mat-card-subtitle>PUNJAb</mat-card-subtitle>
            <mat-card-subtitle>APRIL 16</mat-card-subtitle>
        </div>
    </mat-card>
      
</div>
<div class="purchsed-products">
    <h1>past purchase</h1>
    <mat-card class="example-card">
        <img mat-card-image class="card-image"  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>4,50,000</mat-card-title>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </mat-card-content>
        <div class="place-day">
            <mat-card-subtitle>PUNJAb</mat-card-subtitle>
            <mat-card-subtitle>APRIL 16</mat-card-subtitle>
        </div>
    </mat-card>
      
</div>
