<article class="product-card">

    <section class="product-card__img"></section>

    <section class="product-card__desc">

        <p class="product-card__title">
            iPhone 13 mini
        </p>
        
        <p class="product-card__price">
            ₹34,990
        </p>

        <p class="product-card__footer">
            
            <span class="product-card__location">
                new delhi
            </span>

            <span class="product-card__date">
                apr 15
            </span>
        
        </p>

    </section>

</article>