p, h1, h2, h3 {
    margin: 0;
}

.product-page {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 2rem;
}

/* 
    image section
*/

.product-page__img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.product-page__img {
    height: 300px;
    background-position: center;
    background-size: cover;
}

/* 
    description section
*/

.product-page__desc {
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.desc__name {
    font-size: 1.35rem;
    font-weight: 600;
    text-transform: uppercase;
}

.desc__title {
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-block-end: 0.5rem;
    color: #2b2b2b;
}

.desc__subtitle {
    color: #3f3f3f;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 500;
}

.overview__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    font-size: 0.9rem;
}

.overview__block {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.overview__block mat-icon {
    font-size: 1.5rem;
}

.desc__price {
    font-size: 1.5rem;
    font-weight: 600;
}

.desc__btns {
    display: flex;
    gap: 1rem;
}

.desc__btn {
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
    font-size: 1rem;
    width: 100%;
    border-radius: 0.25rem;
    font-weight: 600;
    padding: 0.75rem;
}

.btn--offer {
    border: 2px solid rgba(88,46,172,1);
    color: rgba(88,46,172,1);
}

.btn--chat {
    background-color: rgba(88,46,172,1);
    color: #fff;
}