<footer class="footer">

    <div class="footer__row1">
        
        <div class="footer__logo">
            <img
                class="logo"
                src="../../../assets/logo.svg"
                alt="logo"
                routerLink="/"
            />
            <!-- <button>
                contact us
            </button> -->
            <div class="logo-copyright copyright">
                <p>Copyright ©2023 SwapSell India Pvt Limited</p>
            </div>  
        </div>

        <nav>
            <p class="footer__title">Navigation</p>
            <ul>
                <li routerLink="/">Home</li>
                <li routerLink="/userDashBoard">Profile</li>
                <!-- <li routerLink="/">Wishlist</li> -->
                <li routerLink="/chat">Chat</li>
                <li routerLink="/postAnAdd">Post an AD</li>
            </ul>
        </nav>

        <nav>
            <p class="footer__title">Company</p>
            <ul>
                <li>About</li>
                <li>Contact</li>
                <li>T&C</li>
                <li>FAQ</li>
            </ul>
        </nav>

        <section class="footer__social">

            <p class="footer__title">Social</p>

            <div>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://twitter.com/i/flow/login" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
            
        </section>
    
    </div>

    <div class="copyright footer__row2">
        <p>Copyright ©2023 SwapSell India Pvt Limited</p>
    </div>  

</footer>