<footer class="footer">

    <div class="footer__row1">
        
        <div class="footer__logo">
            <img
                class="logo"
                src="../../../assets/logo.svg"
                alt="logo"
            />
        </div>

        <nav>
            <p class="footer__title">Navigation</p>
            <ul>
                <li>Home</li>
                <li>Dashboard</li>
                <li>Sell</li>
            </ul>
        </nav>

        <nav>
            <p class="footer__title">Company</p>
            <ul>
                <li>About</li>
                <li>Contact</li>
                <li>T&C</li>
                <li>FAQ</li>
            </ul>
        </nav>

        <section class="footer__social">

            <p class="footer__title">Social</p>

            <i class="fa fa-instagram"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>

        </section>
    
    </div>

    <div class="footer__row2">
        <p>Copyright ©2023 SwapSell India Pvt Limited</p>
    </div>  

</footer>