<footer class="footer">

    <div class="footer__row1">
        
        <img
            class="logo"
            src="../../../assets/logo.svg"
            alt="logo"
        />

        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </nav>

        <section>

            <mat-icon>facebook</mat-icon>
            <mat-icon>instagram</mat-icon>
            <mat-icon>twitter</mat-icon>

        </section>
    
    </div>

    <div class="footer__row2">
        <p>Copyright ©2023 SwapSell India Pvt Limited</p>
    </div>  

</footer>