<header>

    <mat-icon 
        (click)="toggleMenu()"
        class="btns menuBtn"    
    >
        menu
    </mat-icon>

    <img
        src="../../../assets/logo.svg"
        alt="logo"
        class="logo"
    />

    <div class="input">
        
        <input type="text" name="search" 
            placeholder="Search for product"
        />
        
        <mat-icon class="searchIcon">
            search
        </mat-icon>

    </div>

    <nav 
        class="content"
        [ngClass]="{'content-open': isMenuOpen}"
    >
        
        <p>
            <mat-icon 
                (click)="toggleMenu()"
                class="btns"    
            >
                close
            </mat-icon>
        </p>

        <ul>
            <li>
                <img src="../../../assets/home-icon.png" alt="home-icon" />
                Home
            </li>
            <li>
                <img src="../../../assets/user-icon.png" alt="user-icon" />
                Profile
            </li>
            <li>
                <img src="../../../assets/fav-icon.png" alt="fav-icon" />
                Wishlist
            </li>
            <li>
                <img src="../../../assets/chat-icon.png" alt="chat-icon" />
                Chat
            </li>
        
        </ul>

        <button class="post">
            post an ad 
        </button>

        <button class="log">
            logout
        </button>
    
    </nav>

</header>