.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.content{
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  column-gap: 8vh;
}
.Image__input{
  margin-bottom: 1vh;
  border: 2px solid rgba(88,46,172,1);
  padding: 2vh;
  border-radius: 5px;

}
.image_tag{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5vh;
  /* border: 2px solid green; */
}
.tag__image{
  height: 20vh;
  width: 20vh;
  border: 1px solid gray;
  border-radius: 5px;
}
.tag__button{
  position: relative;
  bottom: 7vh;
  right: 5vh;
  color: grey;
}
.tag__size{
  font-size:large;
}
.tag__button:hover{
  color: red;
}
.detail__category_title{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2;
}
.detail__conditionDiv{
  display: flex;
  column-gap: 4vh;
}
.detail__city{
  display: flex;
  column-gap: 4vh;
}

.option__buttons{
  display: flex;
  column-gap: 4vh;
}
.form-div{
  margin: 2%;
}