
<div class="form-div">
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Post Your Ad</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
        <div class="detail">
          <div class="detail__category_title">
            <div class="category_title__category">
              <mat-form-field class="full-width" appearance="outline">
                <mat-select placeholder="category"  formControlName="category">
                  <mat-option *ngFor="let items of category" [value]="items">
                    {{ items.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
                  category is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="category_title__title">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Title"  formControlName="title">
                <mat-error *ngIf="addressForm.controls['title'].hasError('required')">
                  Title is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          
          <div class="detail__productName">
            <mat-form-field class="full-width" appearance="outline">
              <input matInput placeholder="Name of your product"  formControlName="productName">
              <mat-error *ngIf="addressForm.controls['productName'].hasError('required')">
                product name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="detail__productName">
            <mat-form-field class="full-width" appearance="outline">
              <input matInput placeholder="Description of your product" formControlName="Description">
              <mat-error *ngIf="addressForm.controls['Description'].hasError('required')">
                product name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="detail__price">
            <mat-form-field class="full-width" appearance="outline">
              <input matInput type="number" placeholder="Set a suitable price for your product" formControlName="price">
              <mat-error *ngIf="addressForm.controls['price'].hasError('required')">
                product name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="detail__conditionDiv">
            <div class="detail__condition">
              <mat-radio-group formControlName="condition">
                <label >Condition of your product : </label>
                <mat-radio-button value="Pristine">Pristine</mat-radio-button>
                <mat-radio-button value="Good">Good</mat-radio-button>
                <mat-radio-button value="Decent">Decent</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="detail__exchangeable">
              <section class="example-section">
                <mat-checkbox class="example-margin">Exchangeable</mat-checkbox>
                <!-- <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox> -->
              </section>
            </div>
          </div>
         
        
  
          
         <div class="detail__city">
            <mat-form-field class="full-width" appearance="outline">
              <input matInput placeholder="City" formControlName="city">
              <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                City is <strong>required</strong>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field class="full-width" appearance="outline">
              <mat-select placeholder="State" formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state">
                  {{ state.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
                State is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="detail__address">
            <mat-form-field class="full-width" appearance="outline">
              <textarea matInput placeholder="Your Address" formControlName="address"></textarea>
              <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
                Address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="detail__ageInDays">
            <mat-form-field class="full-width" appearance="outline">
              <input matInput   placeholder="Postal Code" type="number" formControlName="ageIndays">
            </mat-form-field>
          </div>
  
        </div>
        <div class="details__Image">
          <div class="image_tag">
              <img class="tag__upload" src="../../../../../assets/noun-image-upload-3073402.svg"/>
            <input matInput   placeholder="Postal Code" type="file" >
          </div>
          <div class="option__buttons">
            <mat-card-actions class="buttons_group">
              <button mat-raised-button color="primary" type="submit">Submit</button>
              <button mat-raised-button color="warn" routerLink="/userDashBoard" >Go back</button>
            </mat-card-actions>
          </div>
        </div>
        
      </mat-card-content>
      
      
    </mat-card>
  </form>
</div>