<div class="register">

    <form #form="ngForm">

        <mat-form-field appearance="outline">
        
            <mat-label>First Name</mat-label>

            <input type="text" matInput name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" 
            required>
            
            <mat-error *ngIf="(firstName.touched || firstName.dirty) && firstName.errors?.required">
                First Name is required
            </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline">
        
            <mat-label>Last Name</mat-label>

            <input type="text" matInput name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" 
            required>
            
            <mat-error *ngIf="(lastName.touched || lastName.dirty) && lastName.errors?.required">
                Last Name is required
            </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline">
        
            <mat-label>Email</mat-label>

            <input type="email" matInput name="email" [(ngModel)]="user.email" #email="ngModel" required
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
            
            <mat-error *ngIf="(email.touched || email.dirty) && email.errors?.required">
                Email is required
            </mat-error>

            <mat-error *ngIf="(email.touched || email.dirty) && email.errors?.pattern">
                Please enter a valid email address
            </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline">
        
            <mat-label>Password</mat-label>

            <input type="password" matInput name="password" [(ngModel)]="user.password" #password="ngModel" 
            required pattern="^(?=.*\d).{8,}$">
            
            <mat-error *ngIf="(password.touched || password.dirty) && password.errors?.required">
                Password is required
            </mat-error>

            <mat-error *ngIf="(password.touched || password.dirty) && password.errors?.pattern">
                Please enter a valid Password
            </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline">
        
            <mat-label>Confirm Password</mat-label>

            <input (input)="checkPassword()" type="password" matInput name="confirmPassword" [(ngModel)]="user.confirmPassword" 
            #confirmPassword="ngModel" required>

            <mat-error *ngIf="confirmPassword.errors?.isPasswordDiff">
                Both passwords should match.
            </mat-error>

            <mat-error *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
                Confirm your password.
            </mat-error>

        </mat-form-field>

    </form>

</div>