.register {
    display: flex;
}

.register__card {
    width: 50%;
    padding: 0rem 2rem;
    background-color: #582eac;
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 15rem;
    transform: translateY(4rem);
}

.card__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25em;
    text-align: center;
}

.card__img > img {
    width: 5rem;
}

.card__img {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 1.25em;
}

.card__footer {
    margin-block-start: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.register__form {
    width: 50%;
    padding: 6rem 4rem;
}

form {
    text-align: center;
}

mat-form-field {
    width: 100%;
    margin-block-end: 0.5rem;
}

.form__small {
    display: flex;
    gap: 2rem;
}

button {
    border: none;
    outline: none;
    width: 100%;
    background: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.05rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-block: 1rem 1.5rem;
}

.submitBtn {
    background-color: #582eac;
    color: #fff;
}

.googleBtn {
    position: relative;
    border: 1px solid #616161;
    color: #616161;
}

.googleBtn > img {
    width: 2.5rem;
}

.form__gap {
    text-align: center;
    color: #616161;
    font-weight: 700;
}

.googleBtn > img {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
}