<div class="filter">

    <h1 class="filter__title">
        filters
    </h1>

    <section class="filter__category">
        
        <h2 class="filter__subtitle">
            price
        </h2>

    </section>
    
    <section class="filter__category">
        
        <h2 class="filter__subtitle">
            condition
        </h2>

    </section>
    
    <section class="filter__category">
        
        <h2 class="filter__subtitle">
            age
        </h2>

    </section>

    <button class="filter__btn">
        apply
    </button>

</div>