<main class="chat-message">

    <header class="chat-message__header">

        <section class="header__row1">

            <img
                src="../../../assets/back.png"
                alt="back button"
            />

            <img
                src="../../../assets/user-icon.png"
                alt="user image"
            />

            <p>
                Mob
            </p>

        </section>

        <section class="header__row2">
            <span>iPhone 13 mini 128gb</span>
            <span>₹38990</span>
        </section>

    </header>

    <section class="chat-message__container">

        <div>
            <app-message
                *ngFor="let message of messages"
                [message]="message"
            >
            </app-message>
        </div>

    </section>

    <footer class="chat-message__footer">

        <input
            placeholder="Message..."
        />

        <button>
            <img
                src="../../../assets/send.png"
                alt="send icon"
            />
        </button>

    </footer>

</main>