<main class="chat-message">

    <article 
        class="chat-message__empty"
        *ngIf="!participantId1 && !participantId2"
    >
    </article>

    <div *ngIf="participantId1 && participantId2">

        <header class="chat-message__header">

            <section class="header__row1">

                <div>   

                    <img
                        class="backBtn"
                        src="../../../assets/back.png"
                        alt="back button"
                    />

                    <img
                        src="../../../assets/user-icon.png"
                        alt="user image"
                    />

                    <p>
                        John Doe
                    </p>
                    
                </div>


                <div>

                    <section class="dropdown">

                        <div class="dropdown__btn" (click)="toggleDropdown()">
                            <mat-icon>more_vert</mat-icon>
                        </div>
            
                        <div class="dropdown__data" *ngIf="dropdown">
                            <p
                                *ngFor="let value of dropdownValues"
                                (click)="updateSort(value)"
                            >   
                                {{value}}
                            </p>
                        </div>
            
                    </section>

                    <mat-icon
                        class="closeBtn"
                        (click)="closeMessage()"
                    >
                        close
                    </mat-icon>

                </div>

            </section>

            <section class="header__row2">
                <span>iPhone 13 mini 128gb</span>
                <span>₹38,990</span>
            </section>

        </header>

        <section class="chat-message__container">

            <div>
                <p>1 -> {{participantId1}}</p>
                <p>2 -> {{participantId2}}</p>
            </div>

            <div>
                <app-message
                    *ngFor="let message of messages"
                    [message]="message"
                >
                </app-message>
            </div>

        </section>

        <footer class="chat-message__footer">

            <button 
                class="offerBtn"
                (click)="toggleOffer()"
            >
                <img
                    src="../../../assets/sell-icon.png"
                    alt="icon"
                />
                make offer
            </button>

            <app-offer-dialog 
                *ngIf="offer"
                [dialog]="toggleOffer()"
            >
            </app-offer-dialog>
            
            <button class="paymentBtn">
                <img
                    src="../../../assets/wallet-icon.png"
                    alt="icon"
                />
                make payment
            </button>

            <div class="chat-message__input">
                <input
                    placeholder="Message..."
                />

                <button class="sendBtn">
                    <img
                        src="../../../assets/send.png"
                        alt="send icon"
                    />
                </button>
            </div>

        </footer>
    
    </div>

</main>